{% extends 'base.html' %}

{% block content %}
    <h1 class="p-3 text-2xl">Purpose of this website:</h1>

    <article class="p-3">
        While <a href="https://ctext.org/">https://ctext.org/</a> 
        aims to make pre-modern Chinese texts available online, the purpose of this website is 
        to categorize some of these pre-modern Chinese texts, especially those that are related to
        the Five Arts of Chinese Metaphysics. For example, while there are many texts on the subject
        of Feng Shui on ctext.org, it is hard to discover texts associated with this topic without
        knowing the names of the titles beforehand. This website aims to allow users to filter their
        subject of interest in Chinese metaphysics in order to facilitate the discovery of texts
        that users are interested in.
    </article>

    <h1 class="p-3 text-2xl">What are the Five Arts?</h1>

    <article class="p-3">
        You've likely heard of terms such as Feng Shui, Acupuncture, Tai Chi, etc. These terms are all
        related to the concept of the Five Arts, which are Mountain (山), Medicine (醫), Destiny (命), 
        Divination (卜), and Physical Inspection (相). Let us go into a bit more detail for each of them.
        Mountain has to do with personal cultivation. This includes Tai Chi, alchemy, meditation, as well
        as the reading of ancient classics such as the Dao De Jing and Zhuang Zi. Medicine has to do with
        Traditional Chinese Medicine, as well as its components such as acupuncture. Destiny entails the
        many methods used in ancient China for fortune-telling, given a person's year, month, day, and 
        time of birth. Divination involves predicting the future, as well as choosing auspicious days
        to conduct certain activities. Finally, physical inspection includes fields such as physiognomy
        and Feng Shui, which determine the auspiciousness of physical phenomena, such as judging from a
        person's face or palm, or the layout of a room.
    </article>

    <h1 class="p-3 text-2xl">How scientific is all this?</h1>

    <article class="p-3">
        It depends. Some think all of this is mere superstition, and others religiously buy into all of it.
        I prefer to take a middle position into all of this, and look at the merits of each system. For
        example, there exists alchemy texts such as the Baopuzi written by Ge Hong in ancient China which 
        call for the use of minerals such as cinnabar that contain substances scientifically proven to be 
        poisonous such as mercury to be used in recipes for immortality. If you followed these, you would have
        likely suffered through mercury poisoning rather than gaining the gift of immortality. However,
        if we then branded all of Ge Hong's works to be useless, we would have likely missed out on the use
        of artemisinin to be used as an effective treatment for malaria. When the Nobel Laureate Tu Youyou
        was working on using sweet wormwood as a method for treating malaria, she was having trouble making
        the herb effective, because she was using hot water to extract the artemisinin. However, a text
        written by the same Ge Hon as above noted that the herb should be treated with cold water instead.
        This allowed the arteminisin extracted to be effective, and this herb has been credited with saving
        millions of lives around the world. This reason is why I think it is the best to treat these ancient
        texts and authors with an open mind, for while some of the things they say are the diametrical opposite
        of modern-day science, other things they say can give us valuable information and wisdom that will
        be of tremendous benefit to us.
    </article>
{% endblock %}