{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-center bg-black">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/TuibeituLeiden.jpg">
    </div>

    <div class="flex justify-center">
        <h1 class="text-2xl pt-5 justify-center">Welcome.</h1>
    </div>
    
    <p class="p-5">This website aims to catalog ancient Chinese texts associated with the Five Arts of Chinese metaphysics. To search through the database, click on the tabs in the navigation bar above.</p>
{% endblock %}